@import url('normalize.css');

/* ==|== primary styles =====================================================
   Author: John McCrae
   ========================================================================== */

/* All the basic layout values (header.htmlfrag & footer.htmlfrag) */

/* The block before the Menu */
.pageTop {
	width: 1000px;
	text-align: left; 
	margin: 0 auto;
	margin-top: 8px;
}

/* The container for the Menu */
.menuTop {
	width:100%;
	background-color: #ffe273;
}

/* The content of the page */
.pageMid {
	width: 1000px;
	text-align: left; 
	margin: 0 auto;
}

/* The footer of the page */
.pageBottom {
	width: 1000px;
	text-align: right; 
	margin: 0 auto;
        clear: both;
	
}

/* The logo size */
.lemon_logo {
	width: 250px;
}

/* The text under the logo */
.underLogo {
	width: 250px;
	text-align: justify;
	font-stretch:expanded;
	letter-spacing: 1px;
}

/* The 'Le' 'M' and 'On' */
.LeMOn_initial {
	font-weight: bolder;
}

/* The main menu bar */
.nav {
	height:3em;
	padding-left: 0px;
	width: 1000px;
	text-align: left; 
	margin: 0 auto;
	display: block;
}

/* The sub-navigation section */
.nav2 {
	height:2em;
	padding-left: 0px;
	width: 1000px;
	text-align: left; 
	margin: 0 auto;
	display: block;
	background-color: #ffca00;
}

/* The main navigation section */
.nav1 {
	border-left: 3px solid #fff;	
}

.nav > li {
	float:left;
	list-style-type: none;
	line-height: 3em;
	width: 180px;
	text-align: center;
	border-right: 3px solid #fff;
	font-weight: 400;
}

.nav2 > li {
	list-style-type: none;
	line-height: 2em;
	text-align: center;
	border-right: 0px solid #fff;
        padding-left: 15px;
        margin-left:10px;
	font-weight: 600;
}


.nav > li > a {
	color:#000;
	text-decoration: none;
	border: none;
}

.nav > li > a:hover {
	text-decoration: underline;
}

.nav > li > div {
	color:#000;
	text-decoration: none;
}

.nav > div:hover {
	text-decoration: underline;
}

.nav2 > li {
    float:left;
}

.nav > li:hover > ul {
	display: block;	
}

.nav2 > li > a {
	color:#000;
	text-decoration: none;
	border:none;
}


.nav2 > li > a:hover {
	text-decoration: underline;
}

.learn {
    display:none;
}

.download {
    display:none;
}

.resources {
    display:none;
}

.uby {
    display:none;
}


/* index.html specific */

.box {
    margin: 5px;
    border: 4px solid #ffe273;
    background-color: #ffe273;
	padding: 4px;
	width:470px;
	float:left;
}

.box > .boxContent {
	background-color:white;
	border:5px solid white;
}

.box > h1 {
   margin:2px;
}

/* RDF pages */

p.license { font-size:70%; }

.rdf > tbody > tr > td {
  min-width:200px;
}

/* The lemon validator */

.lemon-validator-error {
    background-color: tomato;
    border: 1px dashed black;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.lemon-validator-warn {
    background-color: orange;
    border: 1px dashed black;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.lemon-validator-note {
    background-color: yellowgreen;
    border: 1px dashed black;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

/* Used for user log-in */

.login_mini {
    text-align: right;
}

.login_mini > a {
    border:none;
}

.login_error {
    color:tomato;
}


/* Global site elements */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
  border-radius:4px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

label {
    display: block;
}


body {
    font-size: 1em;
     line-height: 1.4;
     text-align: center; 
     vertical-align: middle;
     font-family:'Signika',sans-serif;
     margin: 0px;
}

a {
    color: #0f4fa9;
    text-decoration: none;
    border-bottom: 1px dotted;
}

a:visited {
    color: #620cac;
}

a:hover {
    color: #06e;
}

a:focus {
    outline: thin dotted;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

td {
    vertical-align: top;
    padding-right: 50px;
}


tr:nth-child(even)    { background-color:#ddd; }


